<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reset your CoInform Password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
    <p th:text="'Hello, ' + ${userid} + '! Reset your password below'">
        <form method="post" action="resetting">
        Enter new password: <input type="password" name="pw1"/>
        Reenter new password: <input type="password" name="pw2"/>
        <input type="hidden" name="token" th:value="${token}"/>
        <input type="submit" value="Submit">
        </form>
    <p/>
</body>
</html>